<!doctype html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<link rel="shortcut icon" href="favicon.ico">-->
<meta name="Description" content="PAPATTOで手軽に美味しい一品、つくれます。和食から洋菓子まで幅広く学べます。">
<title>料理教室PAPATTO</title>
<link rel="stylesheet" href="template.css">
</head>
<body>
<header>
	<div class="container header-container">
		<div class="header-inner">
				<h1 class="header-logo"><a href="file:///Macintosh HD/Users/sasakinami/Documents/WebPractice/index.html">
					<img src="../images/260h/papatto_logo_header.png"  alt="PAPATTO" >
				</a></h1>
		</div>
	</div>
</header>
<nav> 
	<div class="container navcontainer">
		<ul class="navbar">
			<li><a href="../index.html">ホーム</a></li>
			<li><a href="../course/index.html">コース紹介</a></li>
			<li><a href="../qanda/index.html">ご質問</a></li>
			<li><a href="../contact/index.html">入会申し込み</a></li>
		</ul>
	</div>
</nav>
<!--
	<div class="toppic">
	<img src="images/gareth-hubbard-qPcSUERqBAc-unsplash.jpg" alt="料理写真">
	</div>
-->
<section class="main">
	<div class="container">
		<main>
				
		</main>
	</div>
</section>
<footer>
	<div class="container footer-container">
		<ul class="footer-nav">
			<li><a href="../course/index.html">コース紹介</a></li>
			<li><a href="../qanda/index.html">ご質問</a></li>
			<li><a href="../contact/index.html">入会申し込み</a></li>
		</ul>				
		<p class="footer-copyright">
		&copy; PAPATTO 料理教室
		</p>
	</div>
</footer>
</body>
</html>
