@charset "UTF-8";
/* CSS Document */
html, body{
	font-size: 16px;
	font-family: sans-serif;
	color:#393939;
	background: #efefef;
}
body, div, p, h1, h2, h3, h4, ul, figure {
	margin: 0;
	padding: 0;
}
p, td, th, li {
	line-height: 1.6;
}
img {
width:100%;
max-width: 100%;
height: auto;
}
a {
	color: #709a00;
}
a:hover {
	color: #46C8A2;
}
a:active {
	color: #3AE578;
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}
.container {
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	max-width: 1000px;
}
@media screen and (min-width:768px) {
	.container{
		padding-left: 20px;
		padding-right:20px;
	}
}
/*===========ヘッダー===========*/
header {
	background: #F6ECDA;
}
header-inner {
	display: flex;
	justify-content: space-between;/*均等配置に並ぶ*/
	align-items:center;
}
.header-logo {
	padding: 8px 0;
	width:160px;
	height:47px;
}

@media screen and (min-width:768px) {
	.header-logo {
		width:260px;
		height: 46px;
		padding: 20px 0;
	}
}
/*==========ナビゲーション=============*/
nav{
	background: #E99F55;
}
.navbar {
/*ナビゲーションの項目をボックスとして並べてうめる*/
	display: none;
	list-style-type: none;
}
.navbar a {
	display: block;
	padding: 0.6rem 0;/*ナビゲーションボックスの上下・左右の幅を指定*/
	color: #3B3434;
	text-decoration: none;
}
.navbar a:hover {
	background:#F6CB8A
}

@media screen and (min-width:768px) {
	.navbar {
		/*ナビゲーションの項目をボックスとして並べてうめる*/
		display: flex !important;
	}
	.navbar a:hover {
		background:#F6CB8A;
	}
	.navbar li {
		display: inline-block;
		flex: 1 1 auto;
		text-align: center;
	}
}

main {
	padding-bottom: 50px;
	background:#A73D3F;
}
@media screen and (min-width: 768px) {
	main {
		padding-left: 30px;
		padding-right: 30px;
	}
}
/*==========フッター============*/
footer {
	background: #F6ECDA;	
}
.footer-nav {
	list-style-type: none;
}
.footer-nav li {
	display: inline;
	padding: 0 1rem 0 0;
}
.footer-nav a {
	color: #3B3434;
	text-decoration: none;
}
.footer-nav a:hover {
	opacity: 0.5;
}
.footer-copyright {
	color: #E99F55;
}
